@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap");
html {
    scroll-behavior: smooth;
}
main {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
div.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.col {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
img.icon {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    z-index: 10;
}
body {
    background: rgb(20, 20, 20);
    color: white;
    font-family: Roboto;
    font-weight: 300;
    margin: 0px;
}

h1,
h2,
h3 {
    font-weight: 300;
}

a {
    font-weight: 400;
}

.main h1,
.main h2,
.main h3 {
    margin: 0px;
}

main {
    box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.91) inset;
    -webkit-box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.91) inset;
    -moz-box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.91) inset;
}

div.bg {
    filter: blur(10px);
    width: 100%;
    height: 100%;
    background-image: url(showcase.png);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.front {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgb(30, 30, 30);
}
a.btnHref {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:not(.btnHref) {
    color: rgb(100, 100, 255);
    text-decoration: none;
}
a:not(.btnHref):visited {
    color: rgb(100, 100, 255);
}
a:not(.btnHref):hover,
a:not(.btnHref):visited:hover {
    border-bottom: 1px solid white;
}
a.btnHref {
    padding: 10px;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    scale: 1;
    transition: all 0.3s ease;
}
.btnHref:hover,
.btnHref:visited:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}
.content {
    width: 40vw;
    text-align: left;
    padding: 20px;
}
#faq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100vw; */
    background-color: rgba(30, 30, 30, 0.7);
}
.showcaseDisplay {
    width: 500px;
}
@keyframes hover {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px 30px;
    }
    100% {
        translate: 0px 0px;
    }
}
.showcase {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.at {
    display: flex;
}
.start {
    flex-direction: column;
}
.end {
    flex-direction: column-reverse;
}
.footer {
    position: relative;
    left: 0;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    margin: 0px;
}
.footnote {
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.91) inset;
}
.footnote > *:first-child {
    margin-top: 0px;
}
